body {
	background: url("../images/background.png") ;  /* Add the background image here */
    background-size: cover;  /* Make the image cover the entire viewport */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Make the background stay fixed when scrolling */
    font-family: 'Comic Sans MS', 'Comic Neue', Arial, cursive;
    text-align: center;
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    font-size: 1rem;
    color: #ddd;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
}

input[type="submit"] {
    background: rgba(255, 255, 255, 0.2);
    color: #ddd;
    font-size: 2rem;
    padding: 1.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.3);
}
 